@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 72px;
    color: #fefefe;
    background-color: #141414;
    text-align: center;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2.8em;
}

.content {
    flex: 1 1 100%;
    display: flex;
    background-color: #1f1f1f;
    color: #fefefe;
    padding: 16px;
}

.content .container {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.display {
    flex: 0 0 200px;
}

.round, .result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.round {
    font-weight: bold;
    height: 50px;
}

.result {
    height: 125px;
}

.scores {
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}

.scores > * {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 24px;
}

.buttons {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

button {
    width: 150px;
    height: 150px;
    background-color: coral;
    border: none;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    border: 4px solid #fefefe;
}